html {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    background-color: #f4f4f4;
    margin: 0;
    font-family: Quicksand, Roboto, Open Sans, Tahoma, Arial, sans-serif;
    padding-top: 52px;
}


.body-page {
    margin-top: 30px;
}

/* header */

    /* nav full screen */

.nav-top{
    background-color: #21324A;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}


ul.nav-full {
    list-style-type: none;
}
.nav-full a{
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 52px;
    height: 52px;
    display: inline-block;
}

.menu-items a{
    border-left: 2px solid #fff;
}

.menu-items > .first-item {
    padding-left: 0;
    border-left: none;
}


ul.nav-full {
    display: flex;  
    height: 52px;
    padding: 0;
    margin: 0;  
    justify-content: space-between; 
    align-items: center; 
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-branch {
    display: flex;
    align-items: center;
    color: #fff;
}

.menu-items a{
    padding:0 20px;
}

.menu-items a:hover {
    font-weight: 650;
    color: #FF7043;
}

.search-area {
    position: relative;
}

#search-icon {
    position: absolute;
    top: 8px;
    right: 5px;
    color: #002390;
}

#search-bar {
    border: none;
    border-radius: 50px;
    padding: 7.5px 5px;
    font-size: 14px;
    font-family: Quicksand, Roboto, Open Sans, Tahoma, Arial, sans-serif;
    width: 300px;
    
    line-height: 20px;
}

#search-bar:focus {
    border-radius: 50px;
}

.wraper {
    max-width: 1300px;
    margin: 0 auto;
    outline-color: red;
}
/* nav-bot */
.nav-bot {
    background-color: #f0f5f7;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 52px;
    border-bottom: 0.5px solid #e5e5e5;
}

    /* tag list */
.tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto; 

}

.tag {
    background-color: #fff;
    color: #FF7043;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 50px;
    font-weight: 600;
}

.tag a {
    text-decoration: none;
}

.tag:hover {
    background-color: #FF7043;
    color: #fff;
}

/* nb-card */
.nb-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
    padding: 12px;
}

.nb-card .nb-card-head {
    font-size: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.post-user-info {
    display: flex;
    font-size: 15px;
    align-content: center;
    align-items: center;
}

.post-user-info > div {
    padding: 2px 5px;
}

.post-user-info .avatar{
    width: 52px;
    height: 52px;
}

.post-user-info .avatar img {
    width: 100%;
    border-radius: 50%;
}

.post-user-info .more {
    margin-left: auto;
}

.post-user-info .more:hover {
    cursor: pointer;
}

.nb-card-head h3.post-title {
    margin: 5px 0;
}

.post-img img{
    width: 100%;
}

.nb-card .nb-card-body.brief {
    margin-top: 15px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
}

.nb-card .nb-card-body{
    display: flex;
    flex-direction: column;
}

.nb-card-foot {
    padding-top: 15px;
}

.nb-card-foot .author-name{
    text-align: right;
}

.nb-card-foot .post-tag {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.post-tag li:first-child {
    margin-left: 0;
}

.nb-card-foot.border-top {
    border-top: 1px solid #e5e5e5;
}

.nb-card-foot .interaction {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
}

.interaction .rates {
    color: grey;
}

.share .fb-icon {
    color: #4267B2;
}

.share .tw-icon {
    color: #1DA1F2;
}

.tag-dark {
    background: #e5e5e5;
}

/* login-page */

.login-page {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(146,45,253,1) 100%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.nb-card-login {
    max-width: 500px;
    margin-top: 80px;
}

.nb-card-login h3 {
    text-align: center;
}

.nb-card-login .login-form {
    display: flex;
    flex-direction: column;

}

.nb-card-login .login-form input {
    padding: 10px 20px;
    width: 300px;
    margin: 10px 30px;
}

/* user info page */
.user-info .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-info .user-avt {
    width: 200px;
}

.user-info .user-avt img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #002390;
}

.achivements ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.achivements ul li {
    display: block;
}

.comment {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
}

.btn {
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.btn-rep {
    justify-self: flex-end;
    margin-top: 10px;
    background-color: #1DA1F2;
    color: #fff;
}

#mytextarea {
    resize: none;
    max-height: 600px;
}

/* post-editor */
.post-input {
    border: 1px solid #21324A;
    border-radius: 1em;
    box-shadow: none;
    padding: 10px 15px;
    line-height: 18px;
    width: 100%;
}



/* responsive */ 
/* @media scre
 */

 #test {
     background: #f4f4f4;
     color: #000;
 }